@tailwind base
@tailwind components
@tailwind utilities

:root 
  --background: hsla(210, 28%, 17%, 1)
  --primary: hsla(207, 25%, 23%, 1)
  --secondary: hsla(207, 22%, 33%, 1)
  --accent: hsla(213, 99%, 65%, 1)
  --text-primary: hsla(0, 0%, 100%, 1)
  --radius: 10px

.light
  --background: hsla(0, 0%, 90.39%, 1)
  --primary: hsla(0, 0%, 100%, 1)
  --secondary: hsla(0, 0%, 90.39%, 1)
  --accent: hsla(213, 99%, 65%, 1)
  --text-primary: hsla(0, 0%, 11.76%, 1)
  --radius: 10px

html 
  font-size: 62.5%
  scroll-behavior: smooth

body
  font-family: "Montserrat", sans-serif
  font-weight: 300
  background-color: var(--background)
  
* 
  margin: 0
  padding: 0
  box-sizing: border-box

::-webkit-scrollbar
  width: 0
  height: 0

@media screen and (prefers-reduced-motion: reduce) 
  html 
    scroll-behavior: auto

@media (max-width: 279px)
  html
    font-size: 42%

  .course
    height: 5.6rem !important

@media (min-width: 280px)
  html
    font-size: 44%
  
  .course
    height: 5.3rem !important
  
@media (min-width: 290px)
  html
    font-size: 46%

  .course
    height: 5.1rem !important

@media (min-width: 300px)
  html
    font-size: 47%

@media (min-width: 310px)
  html
    font-size: 50%

  .course
    height: 5rem !important

@media (min-width: 320px)
  html
    font-size: 51%

@media (min-width: 330px)
  html
    font-size: 53%

@media (min-width: 340px)
  html
    font-size: 54%

@media (min-width: 350px)
  html
    font-size: 56%

@media (min-width: 360px)
  html
    font-size: 58%

@media (min-width: 370px)
  html
    font-size: 59%

@media (min-width: 380px)
  html
    font-size: 61%

@media (min-width: 390px)
  html
    font-size: 62.5%

@media (min-width: 410px)
  html
    font-size: 65%

button
  position: relative
  transition: all .3s
  top: 0
  
  &:active
    @apply bg-accent
    top: .2rem

.loader 
  margin: 2rem auto
  width: 2rem
  height: 2rem
  border: .3rem solid var(--accent)
  border-bottom-color: var(--primary)
  border-radius: 50%
  display: inline-block
  box-sizing: border-box
  animation: rotation 1s linear infinite

// Стили для кастомного селекта факультетов
@keyframes scaleIn
  0%
    opacity: 0
    transform: scale(0.9)

  50%
    opacity: 0.3
    
  100%
    opacity: 1
    transform: scale(1)

.department-select
  &-container > div
    outline: none !important
    box-shadow: none !important
  
  &__control
    display: flex !important
    align-items: center !important
    font-size: 1.5rem !important
    background-color: var(--primary) !important
    border: none !important
    border-radius: 0 !important
    border: none !important
    box-shadow: none !important
    height: 5rem !important
    // padding: 0 1rem !important
    
    &:hover
      border: none !important

  &__menu
    margin-top: 0 !important
    background-color: var(--accent) !important
    border: none !important
    box-shadow: none !important
    color: white !important
    padding: 0 !important
    border-bottom-left-radius: 1rem !important
    border-bottom-right-radius: 1rem !important
    border-top-right-radius: 0 !important
    border-top-left-radius: 0 !important
    animation: scaleIn .15s ease-in-out

  &__menu-list
    max-height: 18rem !important
    overflow-y: auto !important
    -webkit-overflow-scrolling: auto !important
    scrollbar-width: thin !important
    scrollbar-color: white var(--accent) !important

  &__option
    cursor: pointer !important
    display: flex !important
    justify-content: center !important
    color: white !important
    padding: "1.5rem 2.3rem" !important
    font-size: 1.5rem !important
    font-weight: normal !important
    cursor: "pointer" !important
    
    &--is-focused
      background-color: white !important
      color: var(--accent) !important

  &__value-container
    display: flex !important
    font-weight: normal !important
    align-items: center !important
    padding: 0 1rem !important
    cursor: pointer !important
    font-size: 1.5rem !important

  &__single-value
    color: var(--text-primary) !important

  &__indicator-separator
    display: none !important

  &__indicators
    cursor: pointer !important

  &__indicator 
    color: var(--accent) !important

    &:hover
      color: var(--text-primary) !important

// Кастомные стили групп
.group-select
  &-container > div
    outline: none !important
    box-shadow: none !important
  
  &__control
    display: flex !important
    align-items: center !important
    font-size: 1.5rem !important
    background-color: var(--primary) !important
    border: none !important
    border-top-right-radius: 1rem !important 
    border-top-left-radius: 0 !important 
    border-bottom-right-radius: 0 !important 
    border-bottom-right-radius: 0 !important 
    border: none !important
    box-shadow: none !important
    height: 5rem !important
    // padding: 1rem 1rem !important
    
    &:hover
      border: none !important

  &__menu
    margin-top: 0 !important
    background-color: var(--accent) !important
    border: none !important
    box-shadow: none !important
    color: white !important
    padding: 0 !important
    border-bottom-left-radius: 1rem !important
    border-bottom-right-radius: 1rem !important
    border-top-right-radius: 0 !important
    border-top-left-radius: 0 !important
    animation: scaleIn .15s ease-in-out

  &__menu-list
    max-height: 18rem !important
    overflow-y: auto !important
    -webkit-overflow-scrolling: auto !important
    scrollbar-width: thin !important
    scrollbar-color: white var(--accent) !important

  &__option
    cursor: pointer !important
    display: flex !important
    justify-content: center !important
    color: white !important
    padding: "1.5rem 2.3rem" !important
    font-size: 1.5rem !important
    font-weight: normal !important
    cursor: "pointer" !important
    
    &--is-focused
      background-color: white !important
      color: var(--accent) !important

  &__value-container
    display: flex !important
    font-weight: normal !important
    align-items: center !important
    padding: 0 1rem !important
    cursor: pointer !important
    font-size: 1.5rem !important

  &__single-value
    color: var(--text-primary) !important

  &__indicator-separator
    display: none !important

  &__indicators
    cursor: pointer !important

  &__indicator 
    color: var(--accent) !important

    &:hover
      color: var(--text-primary) !important 